// Colors
// Colors - General
$body-bg-color: #f6f9fc;
$primary-color: #747fe0;
$text-color: rgb(90, 93, 122);

// Colors - Introduction
$caret-color: rgba(116,127,224,.65);

// Colors - Terminal
// Colors - Terminal - Header
$terminal-header-bg-color: #e4e3e5;

// Colors - Terminal - Header - Red button
$header-button-red-bg-color:#f96256;
$header-button-red-border-color: #f65549;

// Colors - Terminal - Header - Yellow button
$header-button-yellow-bg-color: #fdbc3d;
$header-button-yellow-border-color: #ffb524;

// Colors - Terminal - Header - Green button
$header-button-green-bg-color: #33c948;
$header-button-green-border-color: #2dbb41;

// Colors - Terminal - Window
$terminal-bg-color: #5a5d7a;

// Colors - Terminal - Window - Statement - Input
$terminal-statement-input-color: #f7f7f7;

// Colors - Terminal - Window - Statement - Return
$terminal-statement-return-color: #e7d184;

// Colors - Terminal - Window - Statement - Return - Link
$terminal-statement-return-link-color: #35feff;