// General declarative (dynamic) variables
:root {
    --global-bg-color: #f6f9fc;
    --primary-color: #747fe0;
    --primary-hover-color: #7795f8;
    --secondary-color: #525f7f;
    --secondary-text-color: #525f7f;
    --text-color: rgb(90, 93, 122);
    --caret-color: rgba(116,127,224,.65);
}

html.dark-theme {
    --global-bg-color: #1b1b1b;
    --primary-color: #e7d184;
    --primary-hover-color: #e7d184;
    --secondary-color: #e7d184;
    --secondary-text-color: #1b1b1b;
    --text-color: #f6f9fc;
    --caret-color: #e7d184;
}

// General imperative (static) variables
// Colors
// Colors - Terminal
// Colors - Terminal - Header
$terminal-header-bg-color: #e4e3e5;

// Colors - Terminal - Header - Red button
$header-button-red-bg-color:#f96256;
$header-button-red-border-color: #f65549;

// Colors - Terminal - Header - Yellow button
$header-button-yellow-bg-color: #fdbc3d;
$header-button-yellow-border-color: #ffb524;

// Colors - Terminal - Header - Green button
$header-button-green-bg-color: #33c948;
$header-button-green-border-color: #2dbb41;

// Colors - Terminal - Window
$terminal-bg-color: #5a5d7a;

// Colors - Terminal - Window - Statement - Input
$terminal-statement-input-color: #f7f7f7;

// Colors - Terminal - Window - Statement - Return
$terminal-statement-return-color: #e7d184;

// Colors - Terminal - Window - Statement - Return - Link
$terminal-statement-return-link-color: #35feff;