---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section id="presentation">
        <section id="introduction">
            <h1>Joel Lorenz Boada<span class="caret">&nbsp;</span></h1>
            <p>
                I am a Full-Stack Web Developer. My passion is building simple, beautiful user experiences. 
                <br>
                Check out my <a href="#projects">side-projects</a> below.
            </p>
        </section>

        <section id="terminal">
            <div class="terminal-header">
                <div class="header-button red"></div>
                <div class="header-button yellow"></div>
                <div class="header-button green"></div>
            </div>

            <div class="terminal-window">
                <section class="statement">
                    <p class="input-statement">Joel.currentLocation</p>
                    <p class="return-statement">"Catalonia, Spain"</p>
                </section>

                <section class="statement">
                    <p class="input-statement">Joel.contactInfo</p>
                    <p class="return-statement">["<a href="mailto:joel.lorenz2000@gmail.com">joel.lorenz2000@gmail.com</a>", "<a href="https://www.linkedin.com/in/joellorenzboada/" target="_blank">LinkedIn</a>", "<a href="https://github.com/JoelDoryoku" target="_blank">GitHub</a>"]</p>
                </section>

                <section class="statement">
                    <p class="input-statement">Joel.interests</p>
                    <p class="return-statement">["Calisthenics", "Videogames", "Ethical Hacking", "Cars"]</p>
                </section>

                <section class="statement">
                    <p class="input-statement">Joel.education</p>
                    <p class="return-statement">"Web Applications Development Technician, Spain"</p>
                </section>

                <section class="statement">
                    <p class="input-statement">Joel.skills</p>
                    <p class="return-statement">["HTML5", "CSS3", "JavaScript", "SCSS", "PHP", "Astro.build", "Svelte", "Git", "Docker"]</p>
                </section>

                <section class="statement last-statement">
                    <p class="input-statement"></p>
                </section>
            </div>
        </section>
    </section>
</BaseLayout>