---
import TerminalStatement from "../components/TerminalStatement.astro";
import { getCollection } from 'astro:content';
const terminalStatements = await getCollection('terminal');

terminalStatements.sort((a, b) => {
    let aOrder = a.data.order;
    let bOrder = b.data.order;
    
    if (aOrder > bOrder) return 1;
    if (aOrder < bOrder) return -1;
    
    return 0;
});
---

<section id="presentation">
    <section id="introduction">
        <h1><span class="name">Joel Lorenz Boada</span><span class="caret">&nbsp;</span></h1>
        <p>
            I am a Full-Stack Web Developer. My passion is building simple, beautiful user experiences. 
            <br>
            Check out my <a href="#projects">side-projects</a> below.
        </p>
    </section>

    <section id="terminal">
        <div class="terminal-header">
            <div class="header-button red"></div>
            <div class="header-button yellow"></div>
            <div class="header-button green"></div>
        </div>

        <div class="terminal-window">
            {terminalStatements.map((terminalStatement, i) => (
                <TerminalStatement inputStatement={terminalStatement.data.input} returnStatement={terminalStatement.data.return} />
            ))}
        </div>
    </section>
</section>

<script>
    // Obtenemos los valores del texto a hacer el typewritting.
    const personsNameField = document.querySelector('#introduction .name');
    const personsNameArray = personsNameField!.innerHTML.split('');
    let iterator = 0;

    // Limpiamos el span para proceder a la "animacion" de typewriting.
    personsNameField!.innerHTML = '';

    setTimeout(() => {
        // Iteramos 15 veces para hacer la animación de typewritting.
        let intervalId = setInterval(() => {
            if (iterator > personsNameArray.length - 2) {
                clearInterval(intervalId);
            }
            console.log(iterator);

            personsNameField!.innerHTML += personsNameArray[iterator];
            iterator++;
        }, 100);
    }, 750);
</script>