---
const { inputStatement, returnStatement = null } = Astro.props;
---

<article class={returnStatement ? "statement" : "statement last-statement"}>
    <p class="input-statement">{inputStatement}</p>
    {
        // If returnStatement isn't null, print the output after &&
        returnStatement && 
        <p class="return-statement" set:html={returnStatement}></p>
    }
</article>