---
import '../styles/main.css';

import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html id="website" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <Nav />
        
        <main>
            <slot />
        </main>
    </body>
</html>