html.dark-theme #projects .project-card {
    .project-image, .project-background {
        filter: brightness(0.9) contrast(1.1);
    }
    .project-content {
        background-color: #f0f0f0;
    }
}

.project-background {
    position: absolute;
    top: -1px;
    right: -1px;
    height: 110%;
    width: 83%;
    background: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMxNiIgdmlld0JveD0iMCAwIDQ0NiAzMTYiIHdpZHRoPSI0NDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09IiI+PHBhdGggZD0ibTI3NC41NDkwNTQgMzE2aDE3MS40NTA5NDZ2LTMxNmgtMzY2LjIyMTgzMDNsLTI3LjgxNjg1NjMgMTExLjMwNzAxIDUxLjEzNjc5NDYgMjA0LjY5Mjk5eiIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Im0yNC4xNTEwOTI1IDBoNTUuNjk3ODE1bC0yNy44ODg4ODQyIDExMS4zMjA5ODR6IiBmaWxsPSIjYzFkZGZmIiBvcGFjaXR5PSIuNTU2ODM5Ii8+PHBhdGggZD0ibTUxLjk2MDMxMTkgMTExLjMxODAyNCA1MS4xNDkyMjcxIDIwNC42ODE5NzZoLTEwMi4zMTE1NTcxNHoiIGZpbGw9IiM5Mzg3ZTQiIG9wYWNpdHk9Ii41MjY2MDgiLz48L2c+PC9zdmc+);
    background-size: cover;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 60px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 
    0 50px 100px rgba(50,50,93,.05),
    0 15px 35px rgba(50,50,93,.1),
    0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
}

.project-content {
    padding: 60px;
    width: 62%;
    z-index: 2;

    h3 {
        font-weight: 500;
        font-size: 1.8em;
        line-height: 38px;
        color: var(--secondary-text-color);
        margin-top: 0;
        margin-bottom: 35px;
    }

    p {
        margin: 30px 0;
        line-height: 27px;
        color: var(--secondary-text-color);
    }
}

.project-image {
    width: 80%;
    position: absolute !important;
    top: 0;
    left: 0;
}

.project-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    .project-link {
        margin-right: 20px;
        margin-top: 20px;
        white-space: nowrap;
        display: inline-block;
        line-height: 40px;
        padding: 0 14px;
        box-shadow: 
        0 4px 6px rgba(50,50,93,.11),
        0 1px 3px rgba(0,0,0,.08);
        border-radius: 4px;
        letter-spacing: .025em;
        text-decoration: none;
        transition: all .15s ease;
        font-family: Camphor,Open Sans,Segoe UI,sans-serif;
        font-size: .9em;
        font-weight: 600;
        box-sizing: border-box;
        background: #747fe0;
        color: #fff;

        &:hover {
            background: #7795f8;
            transform: translateY(-1px);
            box-shadow: 
            0 7px 14px rgba(50,50,93,.1),
            0 3px 6px rgba(0,0,0,.08);
            opacity: .8;
        }

        svg {
            overflow: visible;
            width: 1.125em;
            display: inline-block;
            font-size: inherit;
            height: 1em;
            vertical-align: -.125em;
        }

        &.secondary {
            background: #fff;
            color: #747fe0;
        }
    }
}

.project-skills {
    display: flex;
    flex-wrap: wrap;

    .project-skill {
        background-color: #fff;
        border-radius: 4px;
        border: 2px solid #92eac0;
        padding: 6px 8px;
        margin-right: 10px;
        margin-bottom: 10px;
        font-family: Camphor,Open Sans,Segoe UI,sans-serif;
        font-size: .85em;
        color: var(--secondary-text-color);
        line-height: normal;
        transition: .3s;

        &:hover {
            background-color: #92eac0;
        }
    }
}

.section-title {
    color: var(--secondary-color);
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 80px;

    &::after {
        content: " ";
        border: 4px solid var(--primary-color);
        display: block;
        margin: 30px auto 0 auto;
        width: 50px;
    }
}